<div class="row">
	<%= render "homes/navbar" %>
</div>

<div class="row">
	<h2 class="col text-center">予約者一覧</h2>
		<div class="col-md-1"></div>
		<div class="col-md-8">
			<% @reservations.each do |reservation|  %>
			<table class="table">
				<tr>
					<th>予約希望日</th>
					<th>予約ステータス</th>
					<th>診察券番号</th>
					<th>名前</th>
					<th>生年月日</th>
					<th>予約内容</th>
				</tr>
				<tr>
					<td><%= reservation.preferred_datentime %></td>
					<td>予約ステータス</td>
					<td><% if reservation.membership_number == 0 %>
							<span>登録無し</span>
						<% else %>
							<%= reservation.membership_number %>
						<% end %>
					</td>
					<td><%= reservation.name %></td>
					<td><%= reservation.birthday.strftime("%Y/%m/%d") %></td>
					<td><%= reservation.exam_content %></td>
				</tr>
			<% end %>
		</table>
	</div>
</div>
