<div class="container wrap__container">
<div class="row">
	<h1 class="col title-logo text-center">予約一覧</h1>
		<div class="col-md-3"></div>
		<div class="col-md-8 Box__form--reservationSearch">
			<%= search_form_for(@q, url: admins_reservations_all_path, enforce_utf8: false) do |f| %>
			 <%= f.label :name_or_name_kana, "氏名（カナも可）から探す" %>
  			 <%= f.search_field :name_or_name_kana_cont %>
  			 <%= submit_tag "検索", name: nil %>
  			 <% end %>
		</div>
</div>
<div class="row text-center">
		<div class="col">
			<table class="table Tabl__bg-admin">
				<tr class="Table__bg">
					<th>予約日</th>
					<th>患者氏氏名</th>
					<th>患者氏名（カナ）</th>
					<th>年齢</th>
					<th>生年月日</th>
					<th>予約内容</th>
				</tr>
				<tr>
					<% @reservations.each do |reservation|  %>
					<td><%= reservation.pickadate.date + reservation.pickadate.time %></td>
					<td><%= reservation.name %></td>
					<td><%= reservation.name_kana %></td>
					<td><%= (Date.today.strftime("%Y%m%d").to_i - reservation.birthday.strftime("%Y%m%d").to_i) / 10000 %>歳</td>
					<td><%= l reservation.birthday, format: :medium %></td>
					<td><%= reservation.exam_content %></td>
				</tr>
			<% end %>
		</table>
	</div>
</div>
</div>
