<div class="container">
<div class="row">
	<h1 class="page__title text-center col">会員情報詳細</h1>
		<div class="col-md-2"></div>
		<div class="col-md-7 admin__patient__wrap">
			<table class="patient__table">
				<tr>
					<td class="patient__item">診察券番号</td>
					<td><%= @patient.membership_number %></td>
				</tr>
				<tr>
					<td class="patient__item">会員氏名</td>
					<td><%= @patient.name %></td>
				</tr>
				<tr>
					<td class="patient__item">会員氏名（かな）</td>
					<td><%= @patient.name_kana %></td>
				</tr>
				<tr>
					<td class="patient__item">年齢</td>
					<td><%= @patient.name_kana %></td>
				</tr>
				<tr>
					<td class="patient__item">生年月日</td>
					<td><%= l @patient.birthday, format: :medium %></td>
				</tr>
			</table>
		</div>
</div>

<% if @posts %>
	<div class="row">
		<h1 class="page__title text-center">気になる記録</h1>
	<div class="col-md-2"></div>
	<div class="post__index__wrap col-md-8">
		<% @posts.each do |post| %>
		<table class="table table__kininaru">
			<tr class="table__background__kininaru">
				<td>
					<div class="Bothering__wrap">
						<span class= "BotheringStartId__<%= post.bothering_start_id.to_s %>" >
						<i class="far fa-calendar-alt"></i>
						<span>いつ：</span>
						<%= BotheringStart.find(post.bothering_start_id).name %></span><br>
						<span class="icon__BotheringGenre BotheringGenreId__<%= post.bothering_genre_id %>" >
						<%= BotheringGenre.find(post.bothering_genre_id).name %></span>
					</div>
				</td>
			</tr>
			<tr>
				<td><%= post.content %></td>
			</tr>
			<tr>
				<td><span class="pull-right">記録日：<%= post.created_at.to_s(:datetime_jp) %></span></td>
			</tr>
		</table>
		<% end %>

		<%= paginate @posts %>
	</div>
	</div>
<% end %>

<div class="about__box"></div>
</div>
</div>