<div class="row">
  <div class="text-center">
    <h1 class="page__title">会員ページ</h1>
    <p>当院を受診いただいた方に、会員ページをご用意しています。</p><br>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-4">
    <div class="session__wrap">
    <h2 class="text-center icon__patient__session">会員ページでできること</h2><br>
      <ul class="text__patient__session">
        <li>次回診察予約の確認</li>
        <li>気になった症状の記録を残す</li>
      </ul>
    </div>
  </div>

  <div class="form-group col-md-4">
    <div class="session__wrap">
    <h2 class="text-center icon__patient__session">ログイン</h2>
    <div class="session__form">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :メールアドレス %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :パスワード %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :ログイン情報を保持する %>
        </div>
      <% end %>

        <%= f.submit "会員ページへ進む" %><br><br>
        <%= render "patients/shared/links" %>
    <% end %>
  </div>
  </div>
</div>
<div class="about__box"></div>
</div>
