<div class="container-fluid wrap__container">
<div class="row text-center">
  <div class="col title-fadein">
    <h1 class="title-logo">会員ページ</h1>
    <div class="col Box--mbWidth fadeInUp">当院を受診いただいた方に、会員ページをご用意しています。</div>
  </div>
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <div class="Box__information fadeInUp">
      <h2 class="Box__information--header Box__information--session-header">会員ページでできること</h2><br>
        <ul class="Box__text--innerLeft text-left">
          <li>次回診察予約の確認</li>
          <li>気になった症状の記録を残す</li>
        </ul>
      </div>
    </div>

  <div class="col-md-4 Box--mbWidth form-group">
    <div class="Box__information fadeInUp">
    <h2 class="Box__information--header Box__information--session-header text-center">ログイン</h2>
    <div class="Box__form--session">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :メールアドレス %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "panda@example.com", class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :パスワード %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :ログイン情報を保持する, class: "session-attention" %>
        </div>
      <% end %>

        <%= f.submit "会員ページへ進む" %><br><br>
      <% end %>
    </div>
    </div>
  </div>
</div>
</div>
