<div class="row">
  <%= render "homes/navbar" %>
</div>

<div class="row">
  <h2 class="col text-center">会員ページ</h2>
  <div class="col-8 reserve-text text-center">
    <p>当院を受診いただいた方に、会員ページをご用意しています。<br>
      【会員ページでできること】<br>
      ・ 次回診察予約の確認<br>
      ・ 気になった症状の記録を残す<br>
       </p>
    <%= link_to "会員ページについての詳細はこちら", "/" %>
  </div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :パスワード %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "会員ページへ進む", class: "btn btn-default" %>
  </div>
<% end %>

<%= render "patients/shared/links" %>
