<link rel= "stylesheet", href= "/css/default.css">
<link rel= "stylesheet", href= "/css/default.date.css">
<link rel= "stylesheet", href= "/css/default.time.css">

<script src= "pickadate/picker.js"></script>
<script src= "pickadate/picker.date.js"></script>
<script src= "pickadate/picker.time.js"></script>
<script src= "pickadate/legacy.js"></script>
<script src= "pickadate/lang-ja.js"></script>

<div class="container">
<div class="row">
	<h1 class="page__title text-center">新規予約作成</h1>
	<div class="col-md-2"></div>
	<div class="col-md-8 text-center">
		<%= search_form_for(@q, url: new_admins_reservation_path, enforce_utf8: false) do |f| %>
			<%= f.label :name_or_membership_number, "氏名または診察券番号" %>
			<%= f.search_field :name_or_membership_number_cont, required: true %>
			<%= submit_tag "検索", name: nil %>
		<% end %>

	<table class="table">
		<tr>
			<th>選択</th>
			<th>診察券番号</th>
			<th>患者氏名</th>
			<th>生年月日</th>
		</tr>
		<tr>
			<% @patients.each do |patient| %>
			<th><%= radio_button_tag :membership_number, patient.membership_number, onclick: "myFunction(this)" %></th>
			<th><%= patient.membership_number %></th>
			<th><%= patient.name %></th>
			<th><%= patient.birthday %></th>
		</tr>
		<% end %>
	</table>
	</div>
</div>

 <script>
 function myFunction(val) {
  var node = "<input type='hidden' name="+val.name+" value="+val.value+">"
  $('#'+val.id).after(node)
 }
</script>



<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-6 admin__resevation__pickadate__wrap">
	  <%= form_for @pickadate, url: admins_reservations_confirm_path(@pickadate), method: :get do |f| %>
	  <table class="admin__reservation__table reservation__table">
		<tr>
			<td>診察予約日</td>
			<td><%= f.text_field :date, placeholder: "こちらを押してください", id: "datepicker" %></td>
		</tr>
		<tr>
			<td>診察予約時間</td>
			<td><%= f.text_field :time, placeholder: "こちらを押してください", id: "timepicker" %></td>
		</tr>
	  </table>
	  <div class="admin__reservation__btn__next">
	  	<%= f.submit "予約内容確認へ進む", class: "btn__next" %>
		<% end %>
	  </div>
	</div>
</div>
</div>