<div class="container">
<div class="row">
	<h1 class="title-logo text-center">診察予約ページ</h1>
	<div class="reservation__textbox text-center">
		<p>インターネットから<span>診察のお申し込み</span>ができるサービスです。<br>
		   ご希望日を選択してください。</p>
		   <div class="reservation__wrap">
			   	<span>注意</span>：こちらからのご予約は翌日以降が対象となります。<br>
				当日ご希望の方は、お電話にてお問い合わせください。<br>
			</div>
			<div class="text__notice">
				<%= flash[:notice] %>
			</div>
	</div>
</div>

	<div class="row">
	<div class="pickadate__box">
		<div class="col-md-1"></div>
		<div class="col-md-10">
		<table class="reservation__table">
			<tr>
			<%= form_for @pickadate, url: new_reservation_path(@pickadate) do |f| %>
			<td class="reservation__item">予約希望日</td>
			<td><%= f.text_field :date, placeholder: "こちらを押してください", id: "datepicker" %></td>
			</tr>
			<tr>
			<td class="reservation__item">予約希望時間</td>
			<td><%= f.text_field :time, placeholder: "こちらを押してください", id: "timepicker" %></td>
			</tr>
			<tr><br>
			<th colspan="2"><div class="btn--next__wrapper"><%= f.submit "次へ進む", class: "btn--next" %></div></th>
			<% end %>
			</tr>
		</table>
	</div>
	</div>
	</div>
</div>



