<div class="row">
	<%= render "homes/navbar" %>
</div>

<div class="row">
	<h2 class="col text-center">初診予約ページ</h2>
	<div class="layer col-8 text-center">（プログレスバーの予定）</div>
	<div class="col-8 reserve-text text-center">
		<p>インターネットから初診受診のお申し込みができるサービスです。<br>
		   ご希望日を選択してください。</p>
	</div>
</div>

<div class="row">
	<div class="col-2"></div>
	<div class="col-8">
		<%= form_for @pickadate, url: new_reservation_path(@pickadate) do |f| %>
		<p>予約希望日：<%= f.text_field :date, placeholder: "こちらを押してください", id: "datepicker" %></p>
		<p>予約希望時間：<%= f.text_field :time, placeholder: "こちらを押してください", id: "timepicker" %></p>
		<%= f.submit "次へ進む", class: "btn btn-success" %>
		<% end %>
	</div>
</div>

