<% if patient_signed_in? %>
<nav class="navbar">
	<div class="navtext col-md-2">
		<p class="text-center">大きな文字で<br>
		   メニューを見る</p>
	</div>
	<%= link_to posts_path, class: "btn btn-success" do %>
		<span class="glyphicon glyphicon-home" aria-hidden="true"></span><br>
		<span>気になる記録を残す</span>
	<% end %>
	<%= link_to patients_homes_reservation_path, class: "btn btn-success" do %>
		<span class="glyphicon glyphicon-comment" aria-hidden="true"></span><br>
		<span>予約を確認する</span>
	<% end %>
	<%= link_to reservations_path, class: "btn btn-success" do %>
		<span class="glyphicon glyphicon-comment" aria-hidden="true"></span><br>
		<span>新規予約作成</span>
	<% end %>
	<%= link_to destroy_patient_session_path, method: :delete, class: "btn btn-success" do %>
		<span class="glyphicon glyphicon-comment" aria-hidden="true"></span><br>
		<span>退出する</span>
	<% end %>
</nav>

<% else %>
<nav id="navwrap">
	<ul class="main-nav">
		<li>
			大きな文字で<br>
		    メニューを見る
		</li>
		<li><%= link_to "/about" do %>
				<span class="glyphicon glyphicon-home" aria-hidden="true"></span><br>
				<span class="title">医院のご案内</span><br>
			<% end %>
		</li>
		<li><%= link_to "/exams" do %>
			<span class="glyphicon glyphicon-comment" aria-hidden="true"></span><br>
			<span class="title">診察のご案内</span>
		<% end %>
		</li>
		<li><%= link_to "/access" do %>
			<span class="glyphicon glyphicon-comment" aria-hidden="true"></span><br>
			<span class="title">交通案内</span>
		<% end %>
		</li>
		<li><%= link_to new_patient_session_path do %>
			<span class="glyphicon glyphicon-user" aria-hidden="true"></span><br>
			<span class="title">会員ページ</span>
		<% end %>
		</li>
	</ul>
</nav>
<% end %>