<% if patient_signed_in? %>
<nav id="main__patient__navbar__wrap">
	<ul class="main__nav main__patient__nav">
	<li class="leftside__li">
		<%= link_to "#", class: "menu-trigger" do %>
	        <span></span>
	        <span>大きな文字で<br>
	            　メニューを見る
	        </span>
	        <span></span>
		<% end %>
	</li>
	<li><%= link_to posts_path do %>
			<i class="icon__size fas fa-pen-fancy"></i><br>
			<span class="title">気になる記録を残す</span>
		<% end %>
	</li>
	<li><%= link_to patients_homes_reservation_path do %>
			<i class="icon__size far fa-calendar-check"></i><br>
			<span class="title">予約を確認する</span>
		<% end %>
	</li>
	<li><%= link_to reservations_path do %>
			<i class="icon__size far fa-smile-wink"></i><br>
			<span class="title">新規予約作成</span>
		<% end %>
	</li>
	<li><%= link_to destroy_patient_session_path, method: :delete do %>
			<i class="icon__size fas fa-sign-out-alt"></i><br>
			<span class="title">退出する</span>
		<% end %>
	</li>
	</ul>
</nav>

<% elsif admin_signed_in? && !patient_signed_in? %>
<nav id="main__admin__navbar__wrap">
	<ul class="main__nav main__admin__nav">
	<li class="leftside__li">
	    <%= link_to "#", class: "menu-trigger" do %>
	        <span></span>
	        <span class="admin__mainnav__text">大きな文字で<br>
	            　メニューを見る
	        </span>
	        <span></span>
	    <% end %>
	</li>
	<li><%= link_to admins_about_path do %>
			<i class="icon__size fas fa-user-md"></i><br>
			<span class="title">管理者情報</span>
		<% end %>
	</li>
	<li><%= link_to admins_homes_patients_path do %>
			<i class="icon__size fas fa-users"></i><br>
			<span class="title">会員一覧</span>
		<% end %>
	</li>
	<li><%= link_to admins_reservations_today_path do %>
			<i class="icon__size fas fa-calendar-day"></i><br>
			<span class="title">本日の予約一覧</span>
		<% end %>
	</li>
	<li><%= link_to admins_reservations_all_path do %>
			<i class="icon__size far fa-address-book"></i><br>
			<span class="title">予約一覧</span>
		<% end %>
	</li>
	<li><%= link_to admins_path do %>
			<i class="icon__size fas fa-plus-circle"></i><br>
			<span class="title">Comming Soon</span>
		<% end %>
	</li>
	</ul>
</nav>

<% else %>
<nav id="main__navbar__wrap">
	<ul class="main__nav">
		<li class="leftside__li" id="hm-icon">
		    <%= link_to "#", class: "menu-trigger" do %>
		        <span></span>
		        <span>大きな文字で<br>
		            　メニューを見る
		        </span>
		        <span></span>
		    <% end %>
		</li>
		<li><%= link_to about_path do %>
				<i class="icon__size fas fa-clinic-medical"></i><br>
				<span class="title">医院のご案内</span><br>
			<% end %>
		</li>
		<li><%= link_to "/exams" do %>
			<i class="icon__size fas fa-stethoscope"></i><br>
			<span class="title">診察のご案内</span>
		<% end %>
		</li>
		<li><%= link_to "/access" do %>
			<i class="icon__size fas fa-bus-alt"></i><br>
			<span class="title">交通案内</span>
		<% end %>
		</li>
		<li><%= link_to new_patient_session_path do %>
			<i class="icon__size far fa-id-card"></i><br>
			<span class="title">会員ページ</span>
		<% end %>
		</li>
	</ul>
</nav>
<% end %>
<!-- フルスクリーンメニュー -->
<div id="sp-menu">
	<% if admin_signed_in? %>
		<ul>
	        <li><%= link_to "管理者情報", admins_about_path %></li>
	        <li><%= link_to "会員一覧", admins_homes_patients_path %></li>
	        <li><%= link_to "本日の予約一覧", admins_reservations_today_path %></li>
	        <li><%= link_to "予約一覧", admins_reservations_all_path %></li>
	        <li><%= link_to "Comming Soon", new_admins_reservation_path %></li>
	        <li><%= link_to "もとに戻る", admins_path %></li>
	    </ul>
	<% elsif patient_signed_in? %>
	    <ul>
	        <li><%= link_to "気になる記録を残す", posts_path %></li>
	        <li><%= link_to "予約を確認する", patients_homes_reservation_path %></li>
	        <li><%= link_to "新規作成", new_admins_reservation_path %>
	        <li><%= link_to "退出する", destroy_patient_session_path, method: :delete %></li>
        	<li><%= link_to "もとに戻る", patients_homes_path %></li>
    	</ul>
	<% else %>
		<ul>
	        <li><%= link_to "医院のご案内", about_path %></li>
	        <li><%= link_to "診察のご案内", exams_path %></li>
	        <li><%= link_to "交通案内", access_path %></li>
	        <li><%= link_to "会員ページ", new_patient_session_path %></li>
	        <li><%= link_to "もとに戻る", "/" %></li>
    	</ul>
    <% end %>
</div>