<div class="container wrap__container">
<div class="row text-center">
	<h1 class="col title-logo">会員情報詳細</h1>
		<div class="col-md-2"></div>
		<div class="col-md-7">
			<table class="Table__placement--admin">
				<tr>
					<td class="Form__label-bg">診察券番号</td>
					<td><%= @patient.membership_number %></td>
				</tr>
				<tr>
					<td class="Form__label-bg">会員氏名</td>
					<td><%= @patient.name %></td>
				</tr>
				<tr>
					<td class="Form__label-bg">会員氏名（カナ）</td>
					<td><%= @patient.name_kana %></td>
				</tr>
				<tr>
					<td class="Form__label-bg">年齢</td>
					<td><%= @age %>歳</td>
				</tr>
				<tr>
					<td class="Form__label-bg">生年月日</td>
					<td><%= l @patient.birthday, format: :medium %></td>
				</tr>
			</table>
		</div>
</div>

<% if @posts %>
	<div class="row">
		<h1 class="col title-logo text-center">気になる記録</h1>
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<% @posts.each do |post| %>
		<table class="table">
			<tr class="Table__bg">
				<td>
					<div class="Table__placement--header-post">
						<span class= "BotheringStartId__<%= post.bothering_start_id.to_s %>" >
						<i class="far fa-calendar-alt"></i>
						<span>いつ：</span>
						<%= BotheringStart.find(post.bothering_start_id).name %></span><br>
						<span class="Icon__botheringGenre Icon__botheringGenre--style<%= post.bothering_genre_id %>" >
						<%= BotheringGenre.find(post.bothering_genre_id).name %></span>
					</div>
				</td>
			</tr>
			<tr>
				<td><%= post.content %></td>
			</tr>
			<tr>
				<td><span class="pull-right">記録日：<%= post.created_at.to_s(:datetime_jp) %></span></td>
			</tr>
		</table>
		<% end %>

		<%= paginate @posts %>
	</div>
	</div>
<% end %>

</div>
</div>