<div class="container">
	<h1 class="title-logo text-center">会員一覧</h1>
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<table class="table admin__reservation__table">
				<tr class="table__background">
					<th>診察券番号</th>
					<th>氏名</th>
					<th>氏名（カナ）</th>
					<th>年齢</th>
					<th>生年月日</th>
					<th></th>
				</tr>
				<% @patients.each do |patient| %>
				<tr>
					<td><%= patient.membership_number %></td>
					<td><%= patient.name %></td>
					<td><%= patient.name_kana %></td>
					<td><%= (Date.today.strftime("%Y%m%d").to_i - patient.birthday.strftime("%Y%m%d").to_i) / 10000 %>歳</td>
					<td><%= patient.birthday %></td>
					<td><%= link_to "詳細", admins_homes_patient_path(patient.id), class: "btn__admin__patient" %></td>
				</tr>
				<% end %>
			</table>
		</div>
	</div>
	<div class="about__box"></div>
</div>