<!DOCTYPE html>
<html>
  <head>
    <title>ぱんだ整形外科クリニック</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  <div class="wrap">
  <header>
    <div class="container">
      <div class="row row-center">
      <% if patient_signed_in? %>
          <%= link_to "LOGO", patients_homes_path %>
      <% else %>
          <%= link_to "/" do %>
              <h1 class="col-md-2">LOGO</h1>
          <% end %>
          <%= link_to reservations_path, class: "btn btn-default col-md-2" do %>
            <span>初めてのご予約は<br>
                  こちら</span>
          <% end %>

          <div class="information col-md-3 pull-right">
            <p>お気軽にお問い合いわせください<br>
              <%= link_to "お問い合わせフォーム", inquiry_path %><br>
              <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
              電話： XXXX - XX - XXXX</p>
         </div>
      <% end %>
    </div>
    </div>
  </header>

  <body>
      <%= yield %>
  </body>

  <footer>
    <p class="text-center", style= "color: #ffffff" >©︎ Panda Orthopedics Clinic</p>
  </footer>
</div>
</html>
