<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ぱんだ整形外科クリニック</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag('favicon.ico') %>

    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&family=M+PLUS+Rounded+1c:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/<%= ENV['FONTAWESOME_KIT'] %>.js" crossorigin="anonymous"></script>
  </head>

  <header>
    <div class="Nav__borderTop"></div>
    <div class="container">
      <div class="row">
      <% if patient_signed_in? %>
          <%= link_to image_tag("toplogo-white.png", class: "Img--topLogo pull-left"), patients_homes_path %>
          <h3 class= "Icon__styleRadius--pink Icon__styleRadius--loginStatus", class="topbar__mark">会員ページ</h3>
      <% elsif admin_signed_in? %>
          <%= link_to image_tag("toplogo-white.png", class: "Img--topLogo pull-left"), admins_path %>
          <h3 class="Icon__styleRadius--black Icon__styleRadius--loginStatus">管理者ページ</h3>
            <%= link_to destroy_admin_session_path, method: :delete, class: "Icon__styleRadius--pink Icon__styleRadius--loginStatus" do %>
              <i class="fas fa-sign-out-alt"></i>ログアウトする
            <% end %>
      <% else %>
          <%= link_to image_tag("toplogo-white.png", class: "Img--topLogo pull-left"), root_path %>
          <div class="Box__Btns Box__Btns--placementRight">
                <%= link_to reservations_path, class: "Btn__topBar Btn__topBar--style Btn__topBar--styleLeft" do %>
                    <span>簡単web予約をする</span>
                <% end %>

              <div class="Btn__topBar Btn__topBar--styleRight">
                  <span>お気軽にお問い合いわせください<br>
                  <%= link_to "お問い合わせフォーム", inquiry_path %></span><br>
                  <span class="Icon__styleRadius--green Icon__styleRadius--navPhonenumber">
                    <span class="glyphicon glyphicon-earphone" aria-hidden="true" ></span>
                    電話： XXXX - XX - XXXX</span>
              </div>
        </div>
      <% end %>
    </div>
    </div>
    <%= render "homes/navbar" %>
  </header>

  <body>
      <%= yield %>
  </body>

  <footer>
      <div class="row footer-top">
        <div class="col-md-3 footer-top-box">
          <nav>
            <ul>
              <h2><b>医院のご案内</b></h2>
                <li>− <%= link_to "ごあいさつ", about_path %></li>
                <li>− <%= link_to "当院の特徴", about_path(anchor: "about1") %></li>
                <li>− <%= link_to "医院のご案内", about_path(anchor: "about2") %></li>
              <h2><b>診察のご案内</b></h2>
                <li>− <%= link_to "診察内容", exams_path %></li>
                <li>− <%= link_to "当院の施設・機器", exams_path(anchor: "exam1") %></li>
                <li>− <%= link_to "ご診察の流れ", exams_path(anchor: "exam2") %></li>
           </ul>
        </nav>
      </div>
    <div class="col-md-3 Box__information--footerUpper">
          <h2><b><%= link_to "交通案内", access_path %></b></h2>
          <h2><b>会員ページ</b></h2>
            <li>− 会員ページについて</li>
            <li>− <%= link_to "ログインページ", new_patient_session_path %></li>
          <h2><b><%= link_to "お問い合わせ", inquiry_path %></b></h2>
    </div>
    <div class="col-md-3 Box__information--footerLower">
      <%= image_tag "toplogo-white.png", class: "Img--footerLogo" %>
      <h3><b>XXXX - XX - XXXX</b></h3>
    </div>
    </div>
    <div class="row">
    <div class="col text-center">
      <b>©︎ Panda Orthopedics Clinic</b>
    </div>
    </div>
  </footer>

<script src="assets/ScrollTrigger.min.js"></script>
<script>
var scrollTrigger = new ScrollTrigger.default({
  once: true,
  offset: {
      element: {
          y: 1.0
      }
  },
});
scrollTrigger.add('[data-scroll]', {
    toggle: {
        class: {
            in: 'visible',
            out: 'invisible'
        }
    }
});
scrollTrigger.add('[data-scroll=fadeIn]', {
    toggle: {
        class: {
            in: 'visible',
            out: 'invisible'
        }
    }
});
</script>
</html>
