<!DOCTYPE html>
<html>
  <head>
    <title>ぱんだ整形外科クリニック</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel= "stylesheet", href= "css/default.css">
    <link rel= "stylesheet", href= "css/default.date.css">
    <link rel= "stylesheet", href= "css/default.time.css">

    <script src= "pickadate/picker.js"></script>
    <script src= "pickadate/picker.date.js"></script>
    <script src= "pickadate/picker.time.js"></script>
    <script src= "pickadate/legacy.js"></script>
    <script src= "pickadate/lang-ja.js"></script>

  </head>
  <header style="background-color:gray">
    <div class="container">
      <div class="row row-center">

      <%= link_to "/" do %>
          <h1 class="col-md-2">LOGO</h1>
      <% end %>
      <%= link_to reservations_path, class: "btn btn-default col-md-2" do %>
          <span>初めてのご予約は<br>
                こちら</span>
      <% end %>

      <div class="information col-md-3 pull-right">
        <p>お気軽にお問い合いわせください<br>
          <%= link_to "お問い合わせフォーム", "/" %><br>
          <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
          電話： XXXX - XX - XXXX</p>
      </div>
    </div>
    </div>
  </header>

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>

  <footer style="background-color:gray">
    <p class="text-center">©︎ Panda Orthopedics Clinic</p>
  </footer>
</html>
